<a href="https://colab.research.google.com/github/toomeygm/Recipe-Lesson-5/blob/main/Calculator_lesson_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1 = 7
var2 = 5
print (var1 + var2)

15

In [3]:
 var3 = input("Enter a floating point number")
var4 = input("Enter another floating point number")
var5 = (float(var3) + float(var4))
print (var5)

Enter a floating point number2.5
Enter another floating point number3.4
5.9

In [15]:
mylist = [3,4,5]
mystring = "tuv"

1 in mylist
"u" in mystring

True